Manifest.txt
pkg
*.gem
*.tgz
derby-testdb
derby.log
lib/arjdbc/jdbc/adapter_java.jar
lib/jdbc_adapter/jdbc_adapter_internal.jar
test.*
doc
build.xml
nbproject
TAGS
*~
*.log
patches*
*#
.stgit-edit.txt
/.classpath
/.project
/bin
/jndi_test/jdbc/.bindings
/test/fscontext.jar
/test/providerutil.jar
