*.gem
*.tgz
derby-testdb*
derby.log
test.*
*~
*.log
patches*
*#
TAGS
build.xml
nbproject
.classpath
.project
MANIFEST.MF
bin
pkg
doc
target
coverage
test_*.out
test/jars/*.jar
jndi_test/jdbc/.bindings
